# === Flutter ===
frontend/build/
frontend/.dart_tool/
frontend/pubspec.lock
frontend/android/.gradle/

# === Node.js ===
backend/node_modules/
backend/.env
backend/npm-debug.log*

# === DB & IDE ===
db/*.local.sql
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db